<%- include('../../partials/main', { pageTitle: 'Update Payment' }) %>

<style>
    .inline{
        display: inline-flex;
    }
    #select2-product-container , #select2-unit-container{
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    }
        .mb-4{
            justify-content: space-evenly;
        }
        .completebutton{
            align-items: end;
            width: 30%;
            margin-right: 2rem;
        }
        .addbutton{
            align-items: flex-end;
            width: 30%;
            }
</style>


<div class="page-body">
<!-- tracking table start -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="title-header title-header-block package-card">
                        <div class="mb-5">
                            <h5>Update Payment</h5>
                        </div>
                        <form class="theme-form theme-form-2 mega-form" method="post" action="/admin/order/update-payment/<%= payment._id %>">
                            <div class="add-product">
                                <input type="hidden" name="orderId" value="<%= orderId %>">
                                <div class="col-sm-12">
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Date</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="date" name="date" required value="<%= payment.date %>">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-12">
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Amount</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" name="amount" value="<%= payment.amount %>" required>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="mb-4 row align-items-center">
                                    <label class="col-sm-3 col-form-label form-label-title">Payment Method</label>
                                    <div class="col-sm-9">
                                        <select class="js-example-basic-single w-100" name="payment_method" id="unit">
                                            <option style="font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));" value="none" disabled selected>-- Select Payment Method --</option> 
                                            <option style="font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));" value="CASH">CASH</option> 
                                            <option style="font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));" value="IDFC SAM">IDFC SAM</option> 
                                            <option style="font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));" value="IDFC SWATI">IDFC SWATI</option> 
                                            <option style="font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));" value="NET BANK">NET BANK</option> 
                                        </select>
                                    </div>
                                </div>


                                <div class="mb-4 row align-items-center">
                                    <button id="addProductButton" class="btn btn-solid addbutton col-6 mr-3" type="submit">Update Payment</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>    
            </div>
        </div> 
    </div>
</div>
<!-- tracking table end -->

<div class="container-fluid">
    <!-- footer start-->
    <%- include('../../partials/footer')%>
</div>
</div>

<script>
    // Update Total Area
    function updateTotalArea() {
        var width = parseFloat(document.getElementById('width').value) || 0; // Default to 1 if width is 0
        var height = parseFloat(document.getElementById('height').value) || 0; // Default to 1 if height is 0
        var quantity = parseFloat(document.getElementById('quantity').value) || 0;
        var total_area = (width * height * quantity).toFixed(2);
        document.getElementById('total_area').value = total_area;
    }

    // Update Total Amount
    function updateTotalAmount() {
        var width = parseFloat(document.getElementById('width').value) || 1; // Default to 1 if width is 0
        var height = parseFloat(document.getElementById('height').value) || 1; // Default to 1 if height is 0
        var quantity = parseFloat(document.getElementById('quantity').value) || 0;
        var rate = parseFloat(document.getElementById('rate').value) || 0;
        var total_amount = (width * height * quantity * rate).toFixed(2);
        document.getElementById('total_amount').value = total_amount;
    }

    // Event listeners for input fields
    document.getElementById('width').addEventListener('input', updateTotalArea);
    document.getElementById('height').addEventListener('input', updateTotalArea);
    document.getElementById('quantity').addEventListener('input', updateTotalArea);

    document.getElementById('width').addEventListener('input', updateTotalAmount);
    document.getElementById('height').addEventListener('input', updateTotalAmount);
    document.getElementById('quantity').addEventListener('input', updateTotalAmount);
    document.getElementById('rate').addEventListener('input', updateTotalAmount);
</script>


<%- include('../../partials/end')%>

