<%- include('../../partials/main', { pageTitle: 'Add new Product' }) %>

    <div class="page-body">

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-12 m-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="title-header option-title">
                                <h5>All Products</h5>
                                <form class="d-inline-flex">
                                    <a id="add-expense" href="/admin/inventory/select-vendor"
                                        class="align-items-center btn btn-theme d-flex">
                                        <i data-feather="plus-square"></i>Add New Stocks
                                    </a> 
                                </form>
                            </div>
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-home"
                                        type="button">Purchased Stocks</button>
                                </li>
                                
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-profile-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-profile"
                                        type="button">Live Stocks</button>
                                </li>
                            </ul>

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
                                    <div class="row">
                                        <div class="table-responsive table-product">
                                            <table class="table all-package theme-table" id="table_id">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">Product Name</th>
                                                        <th style="text-align: center;">Width</th>
                                                        <th style="text-align: center;">Height</th>
                                                        <th style="text-align: center;">Quantity</th>
                                                        <th style="text-align: center;">Unit</th>
                                                        <th style="text-align: center;">Total Area</th>
                                                        <th style="text-align: center;">Rate</th>
                                                        <th style="text-align: center;">Amount</th>
                                                    </tr>
                                                </thead>
            
                                                <tbody>
                                                    <% if (products != '') { %>        
                                                        <% products.forEach((row, index) => { %> 
                                                            <tr> 
                                                                <td style="text-align: center;"><%= row.name.toUpperCase() %></td>
                                                                <td style="text-align: center;"><%= row.width %></td>
                                                                <td style="text-align: center;"><%= row.height %></td>
                                                                <td style="text-align: center;"><%= row.quantity %></td>
                                                                <td style="text-align: center;"><%= row.unit %></td>
                                                                <td style="text-align: center;"><%= row.area %></td>
                                                                <td style="text-align: center;"><%= row.rate %></td>
                                                                <td style="text-align: center;">
                                                                    <%= row.unit == 'SQRFT' ? (row.rate * row.area) : (row.rate * row.quantity) %>
                                                                </td>                                                                  
                                                            </tr>
                                                        <% }) %>      
                                                    <% } else { %>
                                                        <tr class="text-center">
                                                            <td class="text-center" style="padding-right: 10%;">
                                                                Nothing To Show
                                                            </td>
                                                        </tr>
                                                    <% } %> 
                                                </tbody>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-profile" role="tabpanel">
                                    <div class="row">
                                        <div class="table-responsive table-product">
                                            <table class="table all-package theme-table" id="table_id">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">Product Name</th>
                                                        <th style="text-align: center;">Quantity</th>
                                                        <th style="text-align: center;">Unit</th>
                                                        <th style="text-align: center;">Total Area</th>
                                                        <th style="text-align: center;">Rate</th>
                                                        <th style="text-align: center;">Amount</th>
                                                    </tr>
                                                </thead>
            
                                                <tbody>
                                                    <% if (live_stock != '') { %>        
                                                        <% live_stock.forEach((row, index) => { %> 
                                                            <tr> 
                                                                <td style="text-align: center;"><%= row.product_id.name.toUpperCase() %></td>
                                                                <td style="text-align: center;"><%= row.quantity %></td>
                                                                <td style="text-align: center;"><%= row.product_id.unit %></td>
                                                                <td style="text-align: center;"><%= row.area %></td>
                                                                <td style="text-align: center;"><%= row.rate %></td>
                                                                <td style="text-align: center;"><%= row.unit == 'SQRFT' ? (row.rate * row.area) : (row.rate * row.quantity) %></td>
                                                            </tr>
                                                        <% }) %>      
                                                    <% } else { %>
                                                        <tr class="text-center">
                                                            <td class="text-center" style="padding-right: 10%;">
                                                                Nothing To Show
                                                            </td>
                                                        </tr>
                                                    <% } %> 
                                                </tbody>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- All User Table Ends-->
        <!-- footer Start -->
        <%- include('../../partials/footer') %>    
        <!-- footer En -->
    </div>
    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box text-center">
                        <div class="wrapper">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                        </div>
                        <h4 class="text-content">It's Removed.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
        <!-- Delete Modal Box Start -->
        <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-block text-center">
                        <h5 class="modal-title w-100" id="exampleModalLabel22">Add New Expense</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="remove-box">
                            <p>You want to delete this Category</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn-animation btn-md fw-bold" id="confirmDeleteBtn" data-bs-target="#exampleModalToggle2"
                            data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="remove-box text-center">
                            <div class="wrapper">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                </svg>
                            </div>
                            <h4 class="text-content">It's Removed.</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Modal Box End -->
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
              // Handle click event on the "Delete" link
              $('a[data-bs-toggle="modal"]').on('click', function () {
                // Get the product ID from the link's href attribute
                const productId = this.href.split('/').pop();
          
                // Update the "Yes" button's data attribute with the product ID for reference when confirming deletion
                $('#confirmDeleteBtn').data('category-id', productId);
              });
          
              // Handle click event on the "Yes" button inside the modal
              $('#confirmDeleteBtn').on('click', function () {
                // Get the product ID from the data attribute
                const productId = $(this).data('category-id');
          
                // Make an AJAX request to the server to delete the product
                $.ajax({
                  method: 'DELETE',
                  url: `/admin/inventory/delete-product/${productId}`,
                  success: function (data) {
                    // If the deletion is successful, you can handle the response or reload the page
                    console.log(data); // Optional: Log the server response
                    if (data.error) {
                      // Handle error message
                      alert(data.error);
                    } else {
                      // Product deleted successfully
                      window.location.reload(); // Reload the page to reflect the changes
                    }
                  },
                  error: function (error) {
                    // Handle errors if any
                    console.error(error);
                    alert(`${error.responseText}`);
                    window.location.reload(); // Reload the page to reflect the changes
                  },
                });
              });
            });
          </script>
          

<script>
    document.addEventListener("DOMContentLoaded", function() {
   var inputField = document.getElementById('productInput');
   var dropdownMenu = document.getElementById('productDropdown');
   var options = dropdownMenu.getElementsByTagName('li');

   inputField.addEventListener('input', function() {
       var filter = inputField.value.toLowerCase();
       for (var i = 0; i < options.length; i++) {
           var textValue = options[i].textContent || options[i].innerText;
           if (textValue.toLowerCase().indexOf(filter) > -1) {
               options[i].style.display = "";
           } else {
               options[i].style.display = "none";
           }
       }
   });

   inputField.addEventListener('click', function() {
       toggleDropdown();
   });

   inputField.addEventListener('focus', function() {
       toggleDropdown();
   });

   dropdownMenu.addEventListener('click', function(event) {
       if (event.target.tagName === 'LI') {
           inputField.value = event.target.textContent;
           toggleDropdown();
       }
   });

   function toggleDropdown() {
       if (dropdownMenu.style.display === 'none') {
           dropdownMenu.style.display = 'block';
       } else {
           dropdownMenu.style.display = 'none';
       }
   }
});

   </script>

<script>
    $(document).ready(function() {
        // Add event listener to unit select element
        $('#unit').on('change', function() {
            var unitValue = $(this).val();
            // Check the selected unit value
            if (unitValue === 'SQRFT') {
                console.log("changes to sqrft")
                // Enable width, height, and area inputs
                $('#width, #height, #total_area').prop('disabled', false);
            } else if (unitValue === 'NOS') {
                console.log("changes to nos")
                // Disable width, height, and area inputs
                $('#width, #height, #total_area').prop('disabled', true);
            }
        });
    });
</script>
    <%- include('../../partials/end') %>


    