<%- include('../../partials/main', { pageTitle: 'Product Details' }) %>


<style>
    .inline{
        display: inline-flex;
    }
    .modal-dialog{
        min-width: 54% ;
    }
    #select2-products.vendor-container , #select2-unit-container{
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    }
        .mb-4{
            justify-content: space-evenly;
        }
        .completebutton{
            align-items: end;
            width: 30%;
            margin-right: 2rem;
        }
        .addbutton{
            align-items: flex-end;
            width: 30%;
            }
</style>

<div class="page-body">
    <!-- tracking table start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row py-2">
                            <div class="col-12">
                                <div class="table-responsive table-details">
                                    <table class="table cart-table table-borderless">
                                        <thead>
                                            <tr>
                                                <th style="border: 1px solid black;padding: 8px;font-size: 14px">Total Amount : <%= bill.grand_total %></th>
                                                <th style="border: 1px solid black;padding: 8px;font-size: 14px">Total Paid : <%= bill.remaining_balance %></th>
                                                <th style="border: 1px solid black;padding: 8px;font-size: 14px">Total Due : <%= bill.grand_total - bill.remaining_balance %></th>
                                            </tr> 
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="title-header option-title">
                            <h4>Vendor Data</h4>
                            <form class="d-inline-flex">
                                <a id="add-expense" href="/admin/inventory/invoice/<%= vendor_id %>"
                                    class="align-items-center btn btn-theme d-flex">
                                    <i data-feather="plus-square"></i>Print Invoice
                                </a> 
                                <a id="add-expense" href="/admin/inventory/update-vendor/<%= vendor_id %>"
                                    class="align-items-center btn btn-theme d-flex">
                                    <i data-feather="plus-square"></i>Update Vendor Data
                                </a> 
                            </form>
                        </div>
                        <div class="bg-inner cart-section order-details-table">
                            <div class="row g-4">
                                <div class="col-xl-12">
                                    <div class="table-responsive table-details">
                                        <table class="table cart-table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th colspan="4" class="text-center">Vendor Data</th>
                                                </tr>
                                            </thead>

                                            <tbody >
                                                <tr class="table-order" style="border: 1px solid black;">
                                                    <td style="border: 1px solid black;" colspan="2">
                                                        <p>Name: </p>
                                                        <h5><%= vendor.name %></h5>
                                                    </td>
                                                    <td style="border: 1px solid black;"> 
                                                        <p>Phone Number</p>
                                                        <h5><%= vendor.phone %></h5>
                                                    </td >
                                                    <td style="border: 1px solid black;"> 
                                                        <p>Bill No</p>
                                                        <h5><%= vendor_id %></h5>
                                                    </td >
                                                </tr>

                                                <tr class="table-order">
                                                    <td style="border: 1px solid black;" colspan="3">
                                                        <p>Vendor Address</p>
                                                        <h5><%= vendor.address %></h5>
                                                    </td>
                                                    <td style="border: 1px solid black;">
                                                        <p>Date</p>
                                                        <h5><%= bill.date %></h5>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="title-header option-title">
                                    <h4>All Purchase</h4>
                                    <form class="d-inline-flex">
                                        <a id="add-expense" href="/admin/inventory/add-products/<%= vendor_id %>"
                                            class="align-items-center btn btn-theme d-flex">
                                            <i data-feather="plus-square"></i>Add New Purchase
                                        </a> 
                                    </form>
                                </div>
                                <!-- Order table -->
                                <div class="table-responsive table-details">
                                    <table class="table cart-table table-borderless">
                                        <thead>
                                            <tr>
                                                <th style="border: 1px solid black;padding: 8px;width: 5%;">Sr.No</th>
                                                <th style="border: 1px solid black;padding: 8px;width: 5%;">Date</th>
                                                <th style="border: 1px solid black;padding: 8px;width: 35%;">Material</th>
                                                <th style="border: 1px solid black;padding: 8px;">Height</th>
                                                <th style="border: 1px solid black;padding: 8px;">Weight</th> 
                                                <th style="border: 1px solid black;padding: 8px;">QTY</th>
                                                <th style="border: 1px solid black;padding: 8px;">SQ. FT</th>
                                                <th style="border: 1px solid black;padding: 8px;">Rate</th>
                                                <th style="border: 1px solid black;padding: 8px;">Amount</th>
                                                <th style="border: 1px solid black;padding: 8px;">Action</th>
                                            </tr>
                                            <% if (products != '') { %>        
                                                <% products.forEach((row, index) => { %> 
                                                <tr>
                                                    <td style="border: 1px solid black;padding: 8px;width: 5%;"><%= index + 1 %></td>
                                                    <td style="border: 1px solid black;padding: 8px;width: 5%;"><%= row.date.toLocaleDateString('en-UK',options) %></td>
                                                    <td style="border: 1px solid black;padding: 8px;width: 35%;"><%= row.name %></td>
                                                    <td style="border: 1px solid black;padding: 8px;"><%= row.height %></td>
                                                    <td style="border: 1px solid black;padding: 8px;"><%= row.width %></td>
                                                    <td style="border: 1px solid black;padding: 8px;"><%= row.quantity %></td>
                                                    <td style="border: 1px solid black;padding: 8px;"><%= row.area %></td>
                                                    <td style="border: 1px solid black;padding: 8px;"><%= row.rate %></td>
                                                    <td style="border: 1px solid black;padding: 8px;text-align: center;"><%= row.amount %></td>
                                                    <td style="text-align: center;border: 1px solid black;padding: 8px;text-align: center;">
                                                        <ul>
                                                            <li style="display: contents;">
                                                                <a href="/admin/inventory/update-product/<%= row._id %>">
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>
                                                            <li style="display: contents;">
                                                                <a href="" onclick="deleteProduct('<%= row._id %>')">
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </a>                                                                
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>   
                                            <% }) %>      
                                            <% } else { %>
                                                <tr class="text-center">
                                                    <td class="text-center" style="padding-right: 10%;">
                                                        Nothing To Show
                                                    </td>
                                                </tr>
                                            <% } %> 
                                            <tr>
                                                <td style="border: 1px solid black;padding: 8px;width: 5%;" colspan="6"></td>
                                                <td style="border: 1px solid black;padding: 8px;"> Total </td>
                                                <td style="border: 1px solid black;padding: 8px;text-align: center;" colspan="3"> 
                                                    <% var formattedTotal = bill.grand_total.toFixed(2); %>
                                                    <%= formattedTotal %>
                                                </td>
                                            </tr>   
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- section end -->
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="bg-inner cart-section order-details-table">
                            <div class="row g-4">
                                <!-- Order table -->
                                <div class="title-header option-title">
                                    <h4>Payment Details</h4>
                                    <form class="d-inline-flex">
                                        <a id="add-expense" href="/admin/inventory/add-payment/<%= vendor_id %>"
                                            class="align-items-center btn btn-theme d-flex">
                                            <i data-feather="plus-square"></i>Add New Payment
                                        </a> 
                                    </form>
                                </div>
                                <div class="table-responsive table-details">
                                    <table class="table cart-table table-borderless">
                                        <thead>
                                            <tr>
                                                <th style="border: 1px solid black;padding: 8px;width: 5%;">Sr.No</th>
                                                <th style="border: 1px solid black;padding: 8px;">Date</th>
                                                <th style="border: 1px solid black;padding: 8px;">Cash</th>
                                                <th style="border: 1px solid black;padding: 8px;">IDFC SAM</th> 
                                                <th style="border: 1px solid black;padding: 8px;">IDFC Swati</th>
                                                <th style="border: 1px solid black;padding: 8px;">Net Banking</th>
                                                <th style="border: 1px solid black;padding: 8px;">Total Balance</th>
                                                <th style="border: 1px solid black;padding: 8px;">Action</th>
                                            </tr>
                                            <% if (payment != '') { %>        
                                                <% payment.forEach((row, index) => { %> 
                                                    <tr>
                                                        <td style="border: 1px solid black;padding: 8px;width: 5%;"><%= index+1 %></td>
                                                        <td style="border: 1px solid black;padding: 8px;"><%= payment[index].date %></td>
                                                        <% if(payment[index].payment_method === "CASH") { %>
                                                            <td style="border: 1px solid black;padding: 8px;"><%= payment[index].amount %></td>
                                                            <td style="border: 1px solid black;padding: 8px;">0</td>
                                                            <td style="border: 1px solid black;padding: 8px;">0</td>
                                                            <td style="border: 1px solid black;padding: 8px;">0</td>
                                                        <% } else if(payment[index].payment_method === "IDFC SAM") { %>
                                                            <td style="border: 1px solid black;padding: 8px;">0</td>
                                                            <td style="border: 1px solid black;padding: 8px;"><%= payment[index].amount %></td>
                                                            <td style="border: 1px solid black;padding: 8px;">0</td>
                                                            <td style="border: 1px solid black;padding: 8px;">0</td>
                                                        <% } else if(payment[index].payment_method === "IDFC SWATI") { %>
                                                            <td style="border: 1px solid black;padding: 8px;">0</td>
                                                            <td style="border: 1px solid black;padding: 8px;">0</td>
                                                            <td style="border: 1px solid black;padding: 8px;"><%= payment[index].amount %></td>
                                                            <td style="border: 1px solid black;padding: 8px;">0</td>
                                                        <% } else { %>
                                                            <td style="border: 1px solid black;padding: 8px;">0</td>
                                                            <td style="border: 1px solid black;padding: 8px;">0</td>
                                                            <td style="border: 1px solid black;padding: 8px;">0</td>
                                                            <td style="border: 1px solid black;padding: 8px;"><%= payment[index].amount %></td>
                                                        <% } %>        
                                                        <td style="border: 1px solid black;padding: 8px; text-align: center;"><%= payment[index].amount %></td>
                                                        <td style="text-align: center;border: 1px solid black;padding: 8px;text-align: center;">
                                                            <ul>
                                                                <li style="display: contents;">
                                                                    <a href="/admin/inventory/update-payment/<%= row.id %>">
                                                                        <i class="ri-pencil-line"></i>
                                                                    </a>
                                                                </li>
    
                                                                <li style="display: contents;">
                                                                    <a href="" onclick="deletePayment('<%= row._id %>')">
                                                                        <i class="ri-delete-bin-line"></i>
                                                                    </a>                                                                
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr> 
                                                <% }) %>        
                                            <% } else { %>
                                                <tr class="text-center">
                                                    <tr>
                                                        <td style="border: 1px solid black;padding: 8px;width: 5%;"></td>
                                                        <td style="border: 1px solid black;padding: 8px;"></td>
                                                        <td style="border: 1px solid black;padding: 8px;">0</td>
                                                        <td style="border: 1px solid black;padding: 8px;">0</td>
                                                        <td style="border: 1px solid black;padding: 8px;">0</td>
                                                        <td style="border: 1px solid black;padding: 8px;">0</td>
                                                        <td style="border: 1px solid black;padding: 8px;">0</td>
                                                        <td style="border: 1px solid black;padding: 8px;">--</td>
                                                    </tr> 
                                                </tr>
                                            <% } %> 
                                            
                                            
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- section end -->
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- tracking table end -->

    <!-- Delete Modal Box Start -->
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <div class="container-fluid">
        <!-- footer start-->
        <%- include('../../partials/footer')%>        
    </div>
</div>

<div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="remove-box text-center">
                    <div class="wrapper">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                    </div>
                    <h4 class="text-content">It's Removed.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade theme-modal remove-coupon" id="confirmationModal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-block text-center">
                <h5 class="modal-title w-100" id="exampleModalLabel22">Are You Sure ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
                <!-- Add this input field inside your confirmationModal body -->
                <div class="modal-body">
                    <div class="remove-box">
                        <p>The permission for the <%= user.first_name %>, preview is inherited from the object, object will create a new permission for this object</p>
                        
                        <!-- Input box for rejection reason -->
                        <div id="rejectionReasonContainer" style="display: none;">
                            <label for="rejectionReason">Reason for Rejection:</label>
                            <select class="form-control" id="rejectionReason">
                                <option value="Credit limit exceeded">Credit limit exceeded</option>
                                <option value="Quantity is too small">Quantity is too small</option>
                                <option value="Outside operating area">Outside operating area</option>
                                <option value="Schedule full today">Schedule full today</option>
                            </select>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-animation btn-md fw-bold" id="confirmStatusChange" data-bs-target="#exampleModalToggle2"
                    data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="remove-box text-center">
                    <div class="wrapper">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                    </div>
                    <h4 class="text-content">It's Updated.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/end')%>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
   // Function to handle the status change confirmation
   function handleStatusChange(event) {
    event.preventDefault();
    const selectedStatus = $(this).data('status');
    const orderId = $('#orderId').val();
    
    // Show/hide the rejection reason input box based on the selected status
    const rejectionReasonContainer = $('#rejectionReasonContainer');
    if (selectedStatus === 'Rejected') {
        rejectionReasonContainer.show();
    } else {
        rejectionReasonContainer.hide();
    }
    
    // Show the Bootstrap modal
    $('#confirmationModal').modal('show');
    
    // When the "Yes" button in the modal is clicked
    $('#confirmStatusChange').on('click', function() {
        // Close the modal
        $('#confirmationModal').modal('hide');
        
        // Get rejection reason if available
        const rejectionReason = $('#rejectionReason').val();
        
        // Make an API request to update the status
        updateStatus(orderId, selectedStatus, rejectionReason);
    });
}

    // Function to update the status via API
    function updateStatus(orderId, selectedStatus , rejectionReason) {
        console.log(selectedStatus)
        $.ajax({
            type: 'POST',
            url: `/admin/order/update-order-status/${orderId}`, // Replace with your API endpoint
            data: { orderId, selectedStatus , rejectionReason },
            success: function(response) {
                console.log(response);
                window.location.reload();
            },
            error: function(error) {
                // Handle errors
                console.error('Error updating status:', error);
            }
        });
    }

    // Attach click event to dropdown items
    $('.dropdown-item').on('click', handleStatusChange);
</script>

<script>
    // Update Total Area
    function updateTotalArea() {
        var width = parseFloat(document.getElementById('width').value) || 0; // Default to 1 if width is 0
        var height = parseFloat(document.getElementById('height').value) || 0; // Default to 1 if height is 0
        var quantity = parseFloat(document.getElementById('quantity').value) || 0;
        var total_area = (width * height * quantity).toFixed(2);
        document.getElementById('total_area').value = total_area;
    }

    // Update Total Amount
    function updateTotalAmount() {
        var width = parseFloat(document.getElementById('width').value) || 1; // Default to 1 if width is 0
        var height = parseFloat(document.getElementById('height').value) || 1; // Default to 1 if height is 0
        var quantity = parseFloat(document.getElementById('quantity').value) || 0;
        var rate = parseFloat(document.getElementById('rate').value) || 0;
        var total_amount = (width * height * quantity * rate).toFixed(2);
        document.getElementById('total_amount').value = total_amount;
    }

    // Event listeners for input fields
    document.getElementById('width').addEventListener('input', updateTotalArea);
    document.getElementById('height').addEventListener('input', updateTotalArea);
    document.getElementById('quantity').addEventListener('input', updateTotalArea);

    document.getElementById('width').addEventListener('input', updateTotalAmount);
    document.getElementById('height').addEventListener('input', updateTotalAmount);
    document.getElementById('quantity').addEventListener('input', updateTotalAmount);
    document.getElementById('rate').addEventListener('input', updateTotalAmount);
</script>

<script>
    function deletePayment(paymentId) {
        if (confirm("Are you sure you want to delete this payment?")) {
            // Send AJAX request to delete payment
            $.ajax({
                type: "POST",
                url: `/admin/inventory/delete-payment/${paymentId}`,
                data: { paymentId: paymentId },
                success: function(response) {
                    
                    console.log("Payment deleted successfully");
                    setTimeout(function() {
                        window.location.reload();
                        location.reload();
                    }, 1000); // 10 seconds delay
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    console.error("Error deleting payment:", error);
                    // For example, display an error message to the user
                    alert("Error deleting payment. Please try again later.");
                }
            });
        }
        // Prevent default anchor action
        return false;
    }
</script>

<script>
    function deleteProduct(product_id) {
        if (confirm("Are you sure you want to delete this product?")) {
            // Send AJAX request to delete payment
            $.ajax({
                type: "DELETE",
                url: `/admin/inventory/delete-product/${product_id}`,
                data: { product_id: product_id },
                success: function(response) {
                    
                    console.log("Payment deleted successfully");
                    setTimeout(function() {
                        window.location.reload();
                        location.reload();
                    }, 1000); // 10 seconds delay
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    console.error("Error deleting product:", error);
                    // For example, display an error message to the user
                    alert("Error deleting product. Please try again later.");
                }
            });
        }
        // Prevent default anchor action
        return false;
    }
</script>




<!-- Delete Modal Box End -->
