<%- include('../../partials/main', { pageTitle: 'Add new Product' }) %>

    <div class="page-body">

        <!-- New Product Add Start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-8 m-auto">
                            <form class="theme-form theme-form-2 mega-form" id="productForm" method="POST" action="/admin/inventory/add-product" >
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Information</h5>
                                        </div>
                            
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-lg-3 col-md-3 mb-0">Bill No.</label>
                                            <div class="col-sm-9 col-lg-9">
                                                <div class="custom-dropdown">
                                                    <input class="form-control" type="text" name="bill_no" placeholder="Enter Bill No">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Vendor Name</label>
                                            <div class="col-sm-9">
                                                <div class="custom-dropdown">
                                                    <input class="form-control" type="text" placeholder="Select or Enter the vendor name" id="vendorInput" name="vendor">
                                                    <ul class="dropdown-menu" style="width: 96%;" id="vendorDropdown">
                                                        <% if (vendor != '') { %>        
                                                            <% vendor.forEach((row, index) => { %> 
                                                                <li class="form-control w-100" value="<%- row._id %>"><%- row.name %></li>
                                                                <% }) %>
                                                        <%  } else { %>
                                                            <li class="form-control w-100 disabled" class="disabled">No Products In Inventory</li>
                                                        <% } %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Vendor Phone</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" placeholder="Vendor Phone" id="vendor_phone" name="vendor_phone">
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Vendor Address</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" placeholder="Vendor Address" id="vendor_address" name="vendor_address">
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-lg-3 col-md-3 mb-0">Date</label>
                                            <div class="col-sm-9 col-lg-9">
                                                <div class="custom-dropdown">
                                                    <input class="form-control" type="date" name="date">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Unit</label>
                                            <div class="col-sm-9">
                                                <select class="js-example-basic-single w-100" name="unit" id="unit">
                                                    <option value="none" disabled selected>-- Select Unit Type --</option> 
                                                    <option value="SQRFT">SQRFT</option> 
                                                    <option value="NOS">NOS</option> 
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-lg-3 col-md-3 mb-0">Product Name</label>
                                            <div class="col-sm-9 col-lg-9">
                                                <div class="custom-dropdown">
                                                    <input class="form-control" type="text" name="name" id="productInput" placeholder="Select or Enter the product name">
                                                    <ul class="dropdown-menu" style="width: 96%;" id="productDropdown">
                                                        <% if (products != '') { %>        
                                                            <% products.forEach((row, index) => { %> 
                                                                <li class="form-control w-100" value="<%- row._id %>"><%- row.name %></li>
                                                                <% }) %>
                                                        <%  } else { %>
                                                            <li class="form-control w-100 disabled" class="disabled">No Products In Inventory</li>
                                                        <% } %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="mb-4 row align-items-center">
                                                        <label class="form-label-title col-sm-3 mb-0">Width</label>
                                                        <div class="col-sm-9">
                                                            <input class="form-control" type="text" oninput="validateFloat(this)" placeholder="Enter Product width" name="width" id="width" value="0">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="mb-4 row align-items-center">
                                                        <label class="form-label-title col-sm-3 mb-0">Height</label>
                                                        <div class="col-sm-9">
                                                            <input class="form-control" type="text" oninput="validateFloat(this)" placeholder="Enter Product Height" name="height" id="height" value="0">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Quantity</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="number" placeholder="Quantity of Product" name="quantity" id="quantity">
                                            </div>
                                        </div>
                            
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Total Area</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" placeholder="Total area covered" name="total_area" id="total_area">
                                            </div>
                                        </div>
                            
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Rate</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" placeholder="Rate of Product" name="rate" id="rate" >
                                            </div>
                                        </div>
                                                        
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Total Amount</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" placeholder="Amount" name="total_amount" id="total_amount">
                                            </div>
                                        </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">Gst</label>
                                                <div class="col-sm-9">
                                                    <select class="js-example-basic-single w-100" name="gst" id="gst">
                                                        <option value="none" disabled selected>-- Select GST --</option> 
                                                        <option value="true">With GST</option> 
                                                        <option value="false">Without GST</option> 
                                                    </select>
                                                </div>
                                            </div>
                            
                                        <!-- <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Payment Method</label>
                                            <div class="col-sm-9">
                                                <select class="js-example-basic-single w-100" name="payment_method" id="payment_method">
                                                    <option value="none" disabled selected>-- Select Payment Method --</option> 
                                                    <option value="CASH">CASH</option> 
                                                    <option value="IDFC SAM">IDFC SAM</option> 
                                                    <option value="IDFC SWATI">IDFC SWATI</option> 
                                                    <option value="NET BANK">NET BANK</option> 
                                                    <option value="Unpaid">UNPAID</option> 
                                                </select>
                                            </div>
                                        </div> -->
                            
                                    </div>
                                </div>
                            
                                <div class="card">
                                    <div class="card-body">
                                        <div class="mb-4 row align-items-center">
                                            <button class="btn btn-solid" type="submit">Add Product</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- New Product Add End -->

        <!-- footer Start -->
        <%- include('../../partials/footer') %>    
        <!-- footer En -->
    </div>
    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box text-center">
                        <div class="wrapper">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                        </div>
                        <h4 class="text-content">It's Removed.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

    <script>
        // Update Total Area
        function updateTotalArea() {
            var width = parseFloat(document.getElementById('width').value) || 0; // Default to 1 if width is 0
            var height = parseFloat(document.getElementById('height').value) || 0; // Default to 1 if height is 0
            var quantity = parseFloat(document.getElementById('quantity').value) || 0;
            var total_area = (width * height * quantity).toFixed(2);
            document.getElementById('total_area').value = total_area;
        }
    
        // Update Total Amount
        function updateTotalAmount() {
            var width = parseFloat(document.getElementById('width').value) || 1; // Default to 1 if width is 0
            var height = parseFloat(document.getElementById('height').value) || 1; // Default to 1 if height is 0
            var quantity = parseFloat(document.getElementById('quantity').value) || 0;
            var rate = parseFloat(document.getElementById('rate').value) || 0;
            var total_amount = (width * height * quantity * rate).toFixed(2);
            document.getElementById('total_amount').value = total_amount;
        }

        // Update Rate
        function updateRate() {
            var width = parseFloat(document.getElementById('width').value) || 1; // Default to 1 if width is 0
            var height = parseFloat(document.getElementById('height').value) || 1; // Default to 1 if height is 0
            var quantity = parseFloat(document.getElementById('quantity').value) || 0;
            var amount = parseFloat(document.getElementById('total_amount').value) || 0;
            var rate = (amount / (width * height * quantity)).toFixed(2);
            document.getElementById('rate').value = rate;
        }
    
        // Event listeners for input fields
        document.getElementById('width').addEventListener('input', updateTotalArea);
        document.getElementById('height').addEventListener('input', updateTotalArea);
        document.getElementById('quantity').addEventListener('input', updateTotalArea);
    
        document.getElementById('width').addEventListener('input', updateTotalAmount);
        document.getElementById('height').addEventListener('input', updateTotalAmount);
        document.getElementById('quantity').addEventListener('input', updateTotalAmount);
        document.getElementById('rate').addEventListener('input', updateTotalAmount);

        document.getElementById('width').addEventListener('input', updateRate);
        document.getElementById('height').addEventListener('input', updateRate);
        document.getElementById('quantity').addEventListener('input', updateRate);
        document.getElementById('total_amount').addEventListener('input', updateRate);
    </script>
    
        <!-- Delete Modal Box Start -->
        <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-block text-center">
                        <h5 class="modal-title w-100" id="exampleModalLabel22">Add New Expense</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="remove-box">
                            <p>You want to delete this Category</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn-animation btn-md fw-bold" id="confirmDeleteBtn" data-bs-target="#exampleModalToggle2"
                            data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="remove-box text-center">
                            <div class="wrapper">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                </svg>
                            </div>
                            <h4 class="text-content">It's Removed.</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Modal Box End -->
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
            function validateFloat(floatField) {
                // Remove any non-numeric characters (including '.') from the input
                floatField.value = floatField.value.replace(/[^0-9.]/g, '');
        
                // Parse the entered value as a float
                var enteredValue = parseFloat(floatField.value);
        
                // Display an error message if the entered value is not a valid number or less than or equal to 0
                var errorMessage = document.getElementById("errorMessage");
                if (isNaN(enteredValue) || enteredValue <= 0) {
                    errorMessage.textContent = "Please enter a valid number greater than 0.";
                    document.getElementById("confirmStatusChange").disabled = true;
                } else {
                    errorMessage.textContent = "";
                    document.getElementById("confirmStatusChange").disabled = false;
                }
            }
        </script>
        <script>
            $(document).ready(function () {
              // Handle click event on the "Delete" link
              $('a[data-bs-toggle="modal"]').on('click', function () {
                // Get the category ID from the link's href attribute
                const categoryId = this.href.split('/').pop();
          
                // Update the "Yes" button's data attribute with the category ID for reference when confirming deletion
                $('#confirmDeleteBtn').data('category-id', categoryId);
              });
          
              // Handle click event on the "Yes" button inside the modal
              $('#confirmDeleteBtn').on('click', function () {
                // Get the category ID from the data attribute
                const categoryId = $(this).data('category-id');
          
                // Make an AJAX request to the server to delete the category
                $.ajax({
                  method: 'DELETE',
                  url: `/admin/inventory/delete-product/${categoryId}`,
                  success: function (data) {
                    // If the deletion is successful, you can handle the response or reload the page
                    console.log(data); // Optional: Log the server response
                    window.location.reload(); // Reload the page to reflect the changes
                  },
                  error: function (error) {
                    // Handle errors if any
                    console.error(error);
                    window.location.reload(); // Reload the page to reflect the changes
                  },
                });
              });
            });
        </script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
   var inputField = document.getElementById('productInput');
   var dropdownMenu = document.getElementById('productDropdown');
   var options = dropdownMenu.getElementsByTagName('li');

   inputField.addEventListener('input', function() {
       var filter = inputField.value.toLowerCase();
       for (var i = 0; i < options.length; i++) {
           var textValue = options[i].textContent || options[i].innerText;
           if (textValue.toLowerCase().indexOf(filter) > -1) {
               options[i].style.display = "";
           } else {
               options[i].style.display = "none";
           }
       }
   });

   inputField.addEventListener('click', function() {
       toggleDropdown();
   });

   inputField.addEventListener('focus', function() {
       toggleDropdown();
   });

   dropdownMenu.addEventListener('click', function(event) {
       if (event.target.tagName === 'LI') {
           inputField.value = event.target.textContent;
           toggleDropdown();
       }
   });

   function toggleDropdown() {
       if (dropdownMenu.style.display === 'none') {
           dropdownMenu.style.display = 'block';
       } else {
           dropdownMenu.style.display = 'none';
       }
   }
});

   </script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
    var inputField = document.getElementById('customerName');
    var dropdownMenu = document.getElementById('customerDropdown');
    var options = dropdownMenu.getElementsByTagName('li');

    inputField.addEventListener('input', function() {
        var filter = inputField.value.toLowerCase();
        for (var i = 0; i < options.length; i++) {
            var textValue = options[i].textContent || options[i].innerText;
            if (textValue.toLowerCase().indexOf(filter) > -1) {
                options[i].style.display = "";
            } else {
                options[i].style.display = "none";
            }
        }
    });

    inputField.addEventListener('click', function() {
        toggleDropdown();
    });

    inputField.addEventListener('focus', function() {
        toggleDropdown();
    });

    dropdownMenu.addEventListener('click', function(event) {
        if (event.target.tagName === 'LI') {
            inputField.value = event.target.textContent;
            toggleDropdown();
        }
    });

    function toggleDropdown() {
        if (dropdownMenu.style.display === 'none') {
            dropdownMenu.style.display = 'block';
        } else {
            dropdownMenu.style.display = 'none';
        }
    }
    });

</script>

<script>
    $(document).ready(function() {
        // Add event listener to unit select element
        $('#unit').on('change', function() {
            var unitValue = $(this).val();
            // Check the selected unit value
            if (unitValue === 'SQRFT') {
                console.log("changes to sqrft")
                // Enable width, height, and area inputs
                $('#width, #height, #total_area').prop('disabled', false);
            } else if (unitValue === 'NOS') {
                console.log("changes to nos")
                // Disable width, height, and area inputs
                $('#width, #height, #total_area').prop('disabled', true);
            }
        });
    });
</script>
    <%- include('../../partials/end') %>


    