<%- include('../../partials/main', { pageTitle: 'Add new Product' }) %>

    <div class="page-body">

        <!-- New Product Add Start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 m-auto">
                    <div class="card">
                        <form class="theme-form theme-form-2 mega-form" id="ProductForm" method="post">
                            <div class="add-product">

                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-lg-3 col-md-3 mb-0">Product Name</label>
                                    <div class="col-sm-9 col-lg-9">
                                        <div class="custom-dropdown">
                                            <input class="form-control" type="text" name="product" id="productInput" placeholder="Select or Enter the product name" value="<%= product.name %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4 row align-items-center">
                                    <label class="col-sm-3 col-form-label form-label-title">Unit</label>
                                    <div class="col-sm-9">
                                        <select class="js-example-basic-single w-100" name="unit" id="unit">
                                            <option style="font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));" value="none" disabled selected>-- Select Unit Type --</option> 
                                            <option style="font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));" value="SQRFT">SQRFT</option> 
                                            <option style="font-size: calc(14px +(16 - 14)*((100vw - 320px) /(1920 - 320)));" value="NOS">NOS</option> 
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Width</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" oninput="validateFloat(this)" placeholder="Enter Product width" name="width" id="width" value="<%= product.width %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Height</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" oninput="validateFloat(this)" placeholder="Enter Product Height" name="height" id="height" value="<%= product.height %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-3 mb-0">Quantity</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="number" placeholder="Quantity of Product" name="quantity" id="quantity" value="<%= product.quantity %>">
                                    </div>
                                </div>
                    
                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-3 mb-0">Total Area</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" placeholder="Total area covered" name="area" id="area" value="<%= product.area %>">
                                    </div>
                                </div>
                    
                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-3 mb-0">Rate</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" placeholder="Rate of Product" name="rate" id="rate" value="<%= product.rate %>">
                                    </div>
                                </div>
                                                
                                <div class="mb-4 row align-items-center">
                                    <label class="form-label-title col-sm-3 mb-0">Total Amount</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" placeholder="Amount" name="amount" id="total_amount" value="<%= product.amount %>">
                                    </div>
                                </div>
                                
                                <div class="mb-4 row align-items-center">
                                    <button id="addProductButton" class="btn btn-solid addbutton " type="submit">Update</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer Start -->
        <%- include('../../partials/footer') %>    
        <!-- footer En -->
    </div>

    <%- include('../../partials/end') %>

    <script>
        // Update Total Area
        function updateTotalArea() {
            var width = parseFloat(document.getElementById('width').value) || 1; // Default to 1 if width is 0
            var height = parseFloat(document.getElementById('height').value) || 1; // Default to 1 if height is 0
            var quantityInput = parseFloat(document.getElementById('quantity').value);
            var quantity = (isNaN(quantityInput) || quantityInput <= 0) ? 1 : quantityInput;
            var total_area = (width * height * quantity).toFixed(2);
            document.getElementById('area').value = total_area;
        }
    
        // Update Total Amount
        function updateTotalAmount() {
            var width = parseFloat(document.getElementById('width').value) || 1; // Default to 1 if width is 0
            var height = parseFloat(document.getElementById('height').value) || 1; // Default to 1 if height is 0
            var quantity = parseFloat(document.getElementById('quantity').value) || 1;
            var rate = parseFloat(document.getElementById('rate').value) || 1;
            var total_amount = (width * height * quantity * rate).toFixed(2);
            document.getElementById('total_amount').value = total_amount;
        }

        // Update Rate
        function updateRate() {
            var width = parseFloat(document.getElementById('width').value) || 1; // Default to 1 if width is 0
            var height = parseFloat(document.getElementById('height').value) || 1; // Default to 1 if height is 0
            var quantity = parseFloat(document.getElementById('quantity').value) || 1;
            var amount = parseFloat(document.getElementById('total_amount').value) || 1;
            var rate = (amount / (width * height * quantity)).toFixed(2);
            document.getElementById('rate').value = rate;
        }
    
        // Event listeners for input fields
        document.getElementById('width').addEventListener('input', updateTotalArea);
        document.getElementById('height').addEventListener('input', updateTotalArea);
        document.getElementById('quantity').addEventListener('input', updateTotalArea);
    
        document.getElementById('width').addEventListener('input', updateTotalAmount);
        document.getElementById('height').addEventListener('input', updateTotalAmount);
        document.getElementById('quantity').addEventListener('input', updateTotalAmount);
        document.getElementById('rate').addEventListener('input', updateTotalAmount);

        document.getElementById('width').addEventListener('input', updateRate);
        document.getElementById('height').addEventListener('input', updateRate);
        document.getElementById('quantity').addEventListener('input', updateRate);
        document.getElementById('total_amount').addEventListener('input', updateRate);
    </script>
    
    <script>
        function validateFloat(floatField) {
            // Remove any non-numeric characters (including '.') from the input
            floatField.value = floatField.value.replace(/[^0-9.]/g, '');
    
            // Parse the entered value as a float
            var enteredValue = parseFloat(floatField.value);
    
            // Display an error message if the entered value is not a valid number or less than or equal to 0
            var errorMessage = document.getElementById("errorMessage");
            if (isNaN(enteredValue) || enteredValue <= 0) {
                errorMessage.textContent = "Please enter a valid number greater than 0.";
                document.getElementById("confirmStatusChange").disabled = true;
            } else {
                errorMessage.textContent = "";
                document.getElementById("confirmStatusChange").disabled = false;
            }
        }
    </script>

<script>
    $(document).ready(function() {
        // Add event listener to unit select element
        $('#unit').on('change', function() {
            var unitValue = $(this).val();
            // Check the selected unit value
            if (unitValue === 'SQRFT') {
                console.log("changes to sqrft")
                // Enable width, height, and area inputs
                $('#width, #height, #total_area').prop('disabled', false);
                $('#quantity').prop('disabled', true);
            } else if (unitValue === 'NOS') {
                console.log("changes to nos")
                // Disable width, height, and area inputs
                $('#width, #height, #total_area').prop('disabled', true);
                $('#quantity').prop('disabled', false);
            }
        });
    });
</script>