<%- include('../../partials/main', { pageTitle: 'Add new Product' }) %>

    <div class="page-body">

        <!-- New Product Add Start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-8 m-auto">
                            <form class="theme-form theme-form-2 mega-form" id="productForm" method="POST" action="/admin/auth/update-bank-data/<%= bank.id %>" >
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Update Balance</h5>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-lg-3 col-md-3 mb-0">Name</label>
                                            <div class="col-sm-9 col-lg-9">
                                                <div class="custom-dropdown">
                                                    <input class="form-control" type="text" name="name" placeholder="Enter Name Of the Account" value="<%= bank.name %>" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-lg-3 col-md-3 mb-0">Amount</label>
                                            <div class="col-sm-9 col-lg-9">
                                                <div class="custom-dropdown">
                                                    <input class="form-control" type="text" name="amount" placeholder="Enter Amount" value="<%= bank.amount %>" >
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-lg-3 col-md-3 mb-0">Date</label>
                                            <div class="col-sm-9 col-lg-9">
                                                <div class="custom-dropdown">
                                                    <input class="form-control" type="date" name="date">
                                                </div>
                                            </div>
                                        </div>
                            
                                    </div>
                                </div>
                            
                                <div class="card">
                                    <div class="card-body">
                                        <div class="mb-4 row align-items-center">
                                            <button class="btn btn-solid" type="submit">Update <%= bank.name %></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- New Product Add End -->

        <!-- footer Start -->
        <%- include('../../partials/footer') %>    
        <!-- footer En -->
    </div>

    <%- include('../../partials/end') %>


    